/* src/components/specific/Whiteboard/Card.css */

/* Prevent text selection */
.select-text, .select-text * {
   user-select: text !important;
   -webkit-user-select: text !important;
   -moz-user-select: text !important;
   -ms-user-select: text !important;
   cursor: text !important;
}

/* Disable text selection */
.select-none, .select-none * {
   user-select: none !important;
   -webkit-user-select: none !important;
   -moz-user-select: none !important;
   -ms-user-select: none !important;
   cursor: default !important;
}

/* Styles for edit mode content */
.card-editing {
   user-select: text !important;
   -webkit-user-select: text !important;
   -moz-user-select: text !important;
   -ms-user-select: text !important;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

/* Adjust the style of fullscreen-card */
.fullscreen-card {
   z-index: 9999; /* Increase the layer level */
 }
 
 /* Adjust the z-index of the toolbar */
 .ql-toolbar.ql-bubble {
   z-index: 10000 !important; /* Ensure the toolbar is at the top layer */
 }
 
 /* Allow .card-content to handle scrolling */
 .card-content {
     overflow: visible; /* Allow the toolbar to display properly */
     display: flex;
     flex-direction: column; /* Ensure child elements are arranged vertically */
 }
 
 .card-content > div.flex-grow {
     overflow-y: auto; /* Allow vertical scrolling here */
     overflow-x: hidden; /* Hide horizontal scrollbars */
     flex-grow: 1; /* Fill the remaining space */
 }


